body {
  background-color: #333652;
  .header {
    text-align: center;
    .score {
      color: #e9eaec;
    }
    h1 {
      color: #fad02c;
    }
    .score {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 24px;
      margin: 20px;
      // padding: 50px;
      div {
        font-size: 24px;
        margin: 0px 15px 0px 15px;
        // margin: 35px;
      }
    }
  }
  .game-wrapper {
    display: flex;
    justify-content: center;
    h3 {
      color: #90adc6;
    }
    div {
      margin: 20px;
      text-align: center;
      color: green;
      // border: 1px solid red;
      cursor: pointer;
      background-color: #333652;

      img {
        // border: 1px solid red;
        border-radius: 15px;
        height: 150px;
        width: 100px;
      }
    }
  }
}
